@font-face {
    font-family: lexendDeca;
    src: url('../assets/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf');
    
}

@font-face {
    font-family: boldBigShoulders;
    src: url("../assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf");
}

body{
    background-color: hsl(0, 0%, 95%);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;  
      
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 50px ;
    justify-content: center;
    margin: 50px auto;
}

.sedan .suv .luxury{
    flex: 1 1 500px;
}

.sedan{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.luxury{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container > div{
    padding: 50px;
}

div > p{
    font-family: lexendDeca;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-bottom: 20px;
}

button{
    font-family: lexendDeca;
    border-radius: 20px;
    border: none;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px 10px 20px;
}

.orange-btn{
    color: hsl(31, 77%, 52%);
}

.orange-btn:hover{
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}

.light-cyan-btn{
    color: hsl(184, 100%, 22%);
}

.light-cyan-btn:hover{
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

.dark-cyan-btn{
    color: hsl(179, 100%, 13%);
}

.dark-cyan-btn:hover{
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}

h1{
    font-family: boldBigShoulders;
    color: hsl(0, 0%, 95%);
}

.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

@media (min-width: 1440px) {
    .container{
        flex-direction: row;
        width: 40%;
        align-items: center;
        margin: 200px auto;
    }

    .sedan{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }
    .luxury{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .sedan .suv .luxury{
        flex: 1 1 50%;
        align-items: center;
    }
 
}

@media (min-width: 925px) {
    
    .container{
        flex-direction: row;
        /*flex-basis: 40%;*/
        margin: auto;
        align-items: stretch;
        margin: 200px auto;
       
    }

    
    .sedan{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }
    .luxury{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .sedan .suv .luxury{
        flex: 1 1 40%;
        align-items: center;
    }

    
    .container > div{
        padding: 50px;
        
    }
    
    p{
        padding-bottom: 50px;
    }
}